includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    treatPhpDocTypesAsCertain: false
    level: 5
    paths:
        - .
    excludePaths:
        - DependencyInjection/Configuration
        - Resources
        - spec
        - vendor
