name: Tests

on:
    push:
        branches:
          - 'master'
          - '3.0'
          - '2.2'
          - '2.1'
          - '2.0'
          - '1.1'
          - '1.0'
    pull_request:
    workflow_dispatch:

jobs:
    test:
        strategy:
            matrix:
                php-version: [8.1, 8.2, 8.3, 8.4]
        runs-on: ubuntu-22.04
        container:
            image: fsiopenpl/docker-php-apache:alpine-${{ matrix.php-version }}
            env:
                COMPOSER_FLAGS: ${{ matrix.php-version == '7.4' && ' --prefer-lowest' || '' }}
            options: '--network-alias test-container'
        timeout-minutes: 10
        steps:
            - name: Checkout source
              uses: actions/checkout@v1
            - name: Install symfony/clock
              run: composer require --dev symfony/clock
              if: ${{ matrix.php-version != '7.4' && matrix.php-version != '8.0' }}
            - name: Validate composer config
              run: composer validate
            - name: Install dependencies
              run: composer update ${COMPOSER_FLAGS}
            - name: Code quality
              run: vendor/bin/phpcs
            - name: Code static analysis
              run: vendor/bin/phpstan analyze -c phpstan.neon
            - name: Unit tests
              run: vendor/bin/phpspec run -v -f dot -n
            - name: Functional tests
              run: vendor/bin/phpunit
